@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>


    @TempData["Msg"] 

</h1>
<br />
<p><a asp-action="Logout" asp-controller="Account">Logout</a></p>